server:
  port: 8087

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: catalog-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/catalog/**
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/cart/**
        - id: order-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/orders/**
        - id: payment-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/payments/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

